---
- name: Install multiple packages
  hosts: all
  roles:
    - role : docker
    - role : docker_compose
    - role : nginx
  tasks:
 
     - name: Ensure docker group exists
       group:
         name: docker
         state: present
       become: yes
 
     - name: Create docker system user
       user:
         name: dockeruser
         system: yes
         shell: /usr/sbin/nologin
         createhome: no
       become: yes
 
     - name: Add dockeruser to docker group
       user: 
         name: dockeruser
         groups: docker
         append: yes
       become: yes
 
     - name: Restart Docker to apply group changes
       systemd:
         name: docker
         state: restarted
       become: yes

     - name: Create directory for Nginx HTML
       file:
         path: /var/www/html
         state: directory
         mode: '0755'
       become: yes
 
     - name: Deploy Docker Compose stack
       community.docker.docker_compose_v2:
         project_src: "{{ playbook_dir }}/mon_files/"
         state: present
       become: yes